<div class="page-search">
  <div class="navbar-search text-center">
    <ul class="list-btn" id="list-inline-override">
      <li id="btn-bars">
        <p class="list-hover">
          <%= link_to 'Bars', "https://murmuring-atoll-26876.herokuapp.com/search?utf8=%E2%9C%93&query=bar" %>
        </p>
      </li>
      <li class="btn-list">
        <p class="list-hover">
          <%= link_to 'Restaurants', 'https://murmuring-atoll-26876.herokuapp.com/search?utf8=%E2%9C%93&query=restaurant' %>
        </p>
      </li>
      <li class="btn-list">
        <p class="list-hover">
          <%= link_to 'Hotels', 'https://murmuring-atoll-26876.herokuapp.com/search?utf8=%E2%9C%93&query=hotel' %>
        </p>
      </li>
      <li class="btn-list">
        <p class="list-hover">
          <%= link_to 'Coworking', 'https://murmuring-atoll-26876.herokuapp.com/search?utf8=%E2%9C%93&query=coworking' %>
        </p>
      </li>
      <li class="btn-list">
        <p class="list-hover">
          <%= link_to 'Soins', 'https://murmuring-atoll-26876.herokuapp.com/search?utf8=%E2%9C%93&query=soins' %>
        </p>
      </li>
      <li class="btn-list">
        <p class="list-hover">
          <%= link_to 'Autres', 'https://murmuring-atoll-26876.herokuapp.com/search?utf8=%E2%9C%93&query=autres' %>
        </p>
      </li>
    </ul>
  </div>
  <div class="header-search">
    <div class="search-bar">
      <div class="search-icon">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="search-input">
        <%= form_tag(search_index_path, method: "get") do %>
          <%= text_field_tag :query, nil, placeholder: 'Adresse, bar, restaurant…', class: "input-search", id: "store_address" %>
          <%= select_tag :categorie, options_for_select(['Bar', 'Cowork'], 'Bar'), class: 'input-search' %>
          <%= select_tag :distance, options_for_select(1..5, 1), class: 'input-search' %>
      </div>
      <div class="search-btn">
          <%= submit_tag "Chercher", class: "btn-search" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container cards-search">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div id="stores">
          <% if @search.length == 0 %>
            <h1>Désolé, pour l'instant il n'y a aucun commerce proche de cette adresse.</h1>
          <% else %>
            <% @search.each do |store| %>
              <%= link_to store_path(store) do %>
                <div class="product">
                  <%= cl_image_tag store.photo, height: 100, width: 200, crop: :fill, class: "product-image hidden-xs" %>
                  <div class='product-body'>
                    <h3><%= link_to store.name, store_path(store) %></h3>
                    <p><%= store.category %> | <%= store.crypto %></p>
                  </div>
                  <ul class="list-inline product-controls hidden-sm hidden-xs">
                    <li><%= store.address %></li>
                    <li><%= store.postcode %></li>
                  </ul>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
