<div class="container">
  <%= form_tag(search_index_path, method: "get") do %>
    <%= text_field_tag :query, nil, placeholder: 'Adresse, bar, restaurant…', class: "form-control" %>
    <%= submit_tag "Rechercher", class: "btn btn-success" %>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="stores">
        <% @stores.each do |store| %>
          <h4>
            <%= link_to store.name, store_path(store) %>
          </h4>
          <p><%= store.category  %> || <%= store.crypto %></p>
          <p><%= store.address  %> <%= store.postcode %></p>
          <p><strong>Ouverture </strong>: <%= store.opening_hours %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
