<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="stores">
        <% @stores.each do |store| %>
          <h4>
            <%= link_to store.name, store_path(store) %>
          </h4>
          <p><%= store.category  %> || <%= store.crypto %></p>
          <p><%= store.address  %> <%= store.postcode %></p>
          <p><strong>Ouverture </strong>: <%= store.opening_hours %></p>
          <p><%= store.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
