<%= cl_image_tag @store.photo, height: 300, width: 400, crop: :fill %>
<h1> <%= @store.name %> </h1>
<p><%= @store.category %></p>
<p><%= @store.description %></p>
<p><%= @store.address %></p>
<p><%= @store.postcode %></p>
<p><%= @store.opening_hours %></p>
<p><%= @store.crypto %></p>
<p><%= @store.contact %></p>
<p><%= link_to @store.website, @store.website, target: "_blank" %></p>
<p>Ajouté par <em><%= @user.email %></em></p>

<hr>

<p><%= link_to 'Accueil', root_path %></p>
<% if user_signed_in? %>
  <p>
    <% if policy(@store).update? %>
      <%= link_to 'Edit', edit_store_path %>
    <% end %>
  </p>
  <p>
    <% if policy(@store).destroy? %>
      <%= link_to "Delete", store_path(@store),
            method: :delete,
            data: { confirm: "Veux-tu vraiment supprimer ce magasin ?" } %>
    <% end %>
  </p>
<% end %>
