<h1> <%= @store.name %> </h1>
<p><%= @store.category %></p>
<p><%= @store.description %></p>
<p><%= @store.address %></p>
<p><%= @store.postcode %></p>
<p><%= @store.opening_hours %></p>
<p><%= @store.crypto %></p>
<p><%= @store.contact %></p>
<p><%= link_to @store.website, @store.website, target: "_blank" %></p>


<%= link_to 'Accueil', root_path %> |
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_store_path %> |
  <%= link_to "Delete", store_path(@store),
        method: :delete,
        data: { confirm: "Veux-tu vraiment supprimer ce magasin ?" } %>
<% end %>
