<div class="footer-content">
  <div class="footer-left">
  <ul>
    <li><strong>A PROPOS</strong></li>
    <li><p>Coin de Paris, vous permet de trouver tous les
    commerces à Paris qui acceptent le paiement en cryptomonnaie.
    Bitcoin, Ethereum, etc. </p></li>
  </ul>
  </div>
  <div class="footer-middle">
    <ul>
      <li><strong>RECHERCHER</strong></li>
      <li><%= link_to 'Bars', "search?utf8=%E2%9C%93&categorie=bar" %></li>
      <li><%= link_to 'Restaurants', 'search?utf8=%E2%9C%93&categorie=restaurant' %></li>
      <li><%= link_to 'Hotels', 'search?utf8=%E2%9C%93&categorie=hotel' %></li>
      <li><%= link_to 'Coworking', 'search?utf8=%E2%9C%93&categorie=coworking' %></li>
      <li><%= link_to 'Soins', 'search?utf8=%E2%9C%93&categorie=soins' %></li>
      <li><%= link_to 'Autres', 'search?utf8=%E2%9C%93&categorie=autres' %></li>
    </ul>
  </div>
  <div class="footer-right">
    <p>
      <%= link_to 'API', api_v1_stores_path, target: "_blank" %>
    </p>
  </div>
  <div class="made-by">
    <div class="made-by-content">
      <p>
        Fait avec <i class="fa fa-heart-o" aria-hidden="true"></i>
        par <em><%= link_to 'François', 'https://www.linkedin.com/in/francoisrabanel/', target: '_blank' %></em>
      </p>
    </div>
  </div>
</div>
