<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo.png' %>
  </a>

  <% if user_signed_in? %>
  <!-- Navbar right -->
    <div class="connection">
      <p>
        <%= link_to 'Accueil', root_path %>
      </p>
      <p>
        <%= link_to 'Commerces', stores_path %>
      </p>
      <p>
        <%= link_to 'Ajouter mon commerce', new_store_path %>
      </p>
      <p>
        <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %>
      </p>
    </div>

  <% else %>
  <!-- Login link (when logged out) -->
    <div class="connection">
      <p>
        <%= link_to 'Accueil', root_path %>
      </p>
      <p>
        <%= link_to 'Commerces', stores_path %>
      </p>
      <p>
        <%= link_to "Connexion", new_user_session_path %>
      </p>
    </div>
  <% end %>
</div>



