<div class="banner" style="background-image: linear-gradient(-225deg, rgba(248, 186, 63, 0.4) 0%, rgba(245, 199, 109, 0.4) 50%), url('http://res.cloudinary.com/pdcst/image/upload/v1515337412/banner_jirblx.jpg');">
  <div class="banner-content">
    <div class="banner-header-text">
      <h1>Où payer en Bitcoin à Paris ?</h1>
    </div>
    <div class="header-search">
      <div class="search-bar">
        <div class="search-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="search-input">
          <%= form_tag(search_index_path, method: "get") do %>
            <%= text_field_tag :query, nil, placeholder: 'Adresse, bar, restaurant…', class: "input-search", id: "store_address" %>
        </div>
        <div class="search-btn">
            <%= submit_tag "Chercher", class: "btn-search" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-cards">
  <div class="container">
    <div class="row cards-space">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <%= link_to "http://localhost:3000/search?utf8=%E2%9C%93&query=bar" do %>
            <div class="card-bars">
              <div class="card-description">
                <h2>Bars</h2>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <%= link_to "http://localhost:3000/search?utf8=%E2%9C%93&query=restaurant" do %>
            <div class="card-restaurants">
              <div class="card-description">
                <h2>Restaurants</h2>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <%= link_to "http://localhost:3000/search?utf8=%E2%9C%93&query=hotel" do %>
            <div class="card-hotels">
              <div class="card-description">
                <h2>Hotels</h2>
              </div>
            </div>
          <% end %>
        </div>
    </div>
    <div class="row cards-space">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <%= link_to "http://localhost:3000/search?utf8=%E2%9C%93&query=soins" do %>
            <div class="card-soins">
              <div class="card-description">
                <h2>Soins</h2>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <%= link_to "http://localhost:3000/search?utf8=%E2%9C%93&query=coworking" do %>
            <div class="card-coworking">
              <div class="card-description">
                <h2>Coworking</h2>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <%= link_to "http://localhost:3000/search?utf8=%E2%9C%93&query=autres" do %>
            <div class="card-autres">
              <div class="card-description">
                <h2>Autres</h2>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>


<div class="container">
  <hr>
</div>

<div class="wrapper-map text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>
